@model databaseTest.Models.MentorMentee

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>MentorMentee</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MentorId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MentorId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MenteeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MenteeId)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
